@font-face {
  font-family: "MonoSpec-SemiBold";
  src: url('/assets/fonts/Poppins.eot'),
    /* IE6-IE8 */
      url('/assets/fonts/Poppins.woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/Poppins.woff'),
    /* Pretty Modern Browsers */
      url('/assets/fonts/Poppins.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {


  *:focus {
    @apply outline-none;
  }
  html {
    font-family: "MonoSpec-SemiBold";
    -webkit-tap-highlight-color: transparent;
    @apply text-base text-zinc-300;
  }
  body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

@layer utilities {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
    -webkit-appearance: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scrollbar-color: transparent transparent;
  }

  .no-scrollbar::-webkit-scrollbar-thumb:horizontal,
  .no-scrollbar::-webkit-scrollbar-thumb:vertical {
    background: transparent;
    display: none;
  }
}
